spring:
  datasource:
#    url: jdbc:sqlserver://DESKTOP-DF641H4\SQLEXPRESS;database=todo
    url: jdbc:sqlserver://host.docker.internal;database=todo
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: update
#      use-new-id-generator-mappings: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
#    database-platform: org.hibernate.dialect.SQLServer2019Dialect
  liquibase:
    drop-first: true
    change-log: db.changelog/db.changelog-master.yaml

server:
#  servlet:
#    context-path:
  port: ${SERVICE_PORT:5019}
  forward-headers-strategy: framework

#spring.datasource.url=jdbc:postgresql://localhost:5432/todo
#spring.datasource.username=postgres
#spring.datasource.password=postgres
#spring.jpa.hibernate.ddl-auto=none
#spring.jpa.show-sql=true
#spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
#spring.jpa.properties.hibernate.format_sql=true
